footer {
    width: 100%;
    border-top: 2px solid light-dark(#555555, #00bfff);
    
    h1 {
        margin: 20px 0;
        text-align: center;            
    }

    #contact {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        gap: 20px;

        a {
            display: block;
            width: 80px;

            svg {
                fill: light-dark(black, white);
                transition: 500ms;
            }

            svg:hover {
                fill: light-dark(#1d3e80, #00bfff);
            }
        }
    }
}