header {
    width: 100%;
    min-height: 50px;
    background: linear-gradient(light-dark(#1a4fba, #1d3e80) 60%, #032449);
    border-bottom: 2px solid light-dark(#043163, #1d3e80);
    padding: 10px;

    nav {

        ul {
            min-height: 30px;
            display: flex;
            gap: 10px;
            justify-content: right;
            align-items: center;
            list-style: none;

            li {

                a {
                    color: white;
                    text-decoration: none;
                }

                a:hover {
                    color: #00bfff;
                    text-decoration: underline;
                }
            }
        }
    }
}