@keyframes header-link-m-h {
    from{
        color: hsl(205, 75%, 10%);
        background-color: white;
    }

    to{
        color: white;
        background-color: rgba(0, 0, 0, 0);
    }
}

@keyframes header-link-m-l {
    from{
        color: white;
        background-color: rgba(0, 0, 0, 0);
    }

    to{
        color: hsl(205, 75%, 10%);
        background-color: white; 
    }
}

@keyframes content-m-h {
    from{
        max-width: 1000px;
    }

    to{
        max-width: 1200px;
    }
}

@keyframes content-m-l {
    from{
        max-width: 1200px;
    }

    to{
        max-width: 1000px;
    }
}