@media (max-width: 1000px) {

    #about,
    #languages {
        border-top-left-radius: 5dvw;
        border-top-right-radius: 5dvw;
        border-bottom-left-radius: 5dvw;
        border-bottom-right-radius: 5dvw;
    }

    #profile-pic {
        width: 80%;
        max-width: 200px;
        aspect-ratio: 1/1;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        border: .5vw solid white;
        border-radius: 50%;
    }
}

@media (max-width: 847px) {
    header {
        height: auto;

        nav ul {
            flex-direction: column;
            align-items: end;
            margin: 5px 0;

            li {
                width: min(200px, 100%);
                padding: 0;
                border-top: 1px solid white;

                a {
                    width: 100%;
                    max-width: 208px;
                    color: white;
                    background: none;
                    border: none;
                    border-radius: 0;
                    display: block;
                    text-align: center;
                    text-decoration: none;
                }

                a:hover {
                    transform: scale(1.2);
                }
            }

            li:last-of-type {
                border-bottom: 1px solid white;
            }
        }
    }
}

@media (max-width: 608px) {
    #projects {
        flex-direction: column;
    }

    #first {
        width: 100%;
    }

    #last {
        width: 100%;
    }
}

@media (max-width: 430px) {
    h3 {
        font-size: 4.3vw;
    }
}

@media (max-width: 400px) {
    #projects-in-progress li a {
        font-size: 4dvw;
    }

    #return {
        bottom: 15%;
    }
}

@media (max-width: 370px) {
    h1 {
        font-size: 8.66vw;
    }

    h2 {
        font-size: 6.5vw;
    }

    p,
    span,
    a {
        font-size: 4.3vw;
    }
}

@media (max-width: 232px) {
    header nav ul li a {
        font-size: 6.4vw;
    }
}

@media (max-aspect-ratio: 1/1) {
    #profile-pic-fixed img {
        width: 90dvw;
        height: 90dvw;
    }
}