* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    scroll-behavior: smooth;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: hsl(220, 40%, 10%);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(0, 191, 255);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:active {
    background-color: rgb(0, 255, 255);
    border-radius: 2px;
}
.inside-content::-webkit-scrollbar {
    width: 4px;
    height: 0;
}